openapi: 3.2.0
info:
  title: Trulioo Business Verification Authentication Connection API
  description: Know Your Business (KYB) API for verifying legal entities, retrieving business registration data, and downloading business reports. Supports searching businesses by name and registration number, verifying a business record, and pulling the underlying registry document.
  version: '3.0'
  contact:
    name: Trulioo Support
    url: https://developer.trulioo.com
    email: support@trulioo.com
servers:
- url: https://api.trulioo.com
  description: Production
security:
- BasicAuth: []
- OAuth2: []
tags:
- name: Connection
  description: Ping and authentication-test endpoints.
paths:
  /v3/connection/sayhello/{name}:
    get:
      summary: Say Hello
      description: Unauthenticated ping that returns a hello message. Use for connectivity checks.
      operationId: sayHello
      tags:
      - Connection
      security: []
      parameters:
      - name: name
        in: path
        required: true
        description: Caller name to include in the greeting.
        schema:
          type: string
      responses:
        '200':
          description: Greeting string.
          content:
            text/plain:
              schema:
                type: string
  /v3/connection/testauthentication:
    get:
      summary: Test Authentication
      description: Validates the caller's credentials. Returns the authenticated username when credentials are valid; 401 otherwise.
      operationId: testAuthentication
      tags:
      - Connection
      responses:
        '200':
          description: Authenticated username.
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Authentication failed.
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth-api.trulioo.com/connect/token
          scopes: {}
externalDocs:
  description: KYB - Business Verification
  url: https://developer.trulioo.com/reference/kyb-business-verification
