openapi: 3.1.0
info:
  title: Trulioo Business Verification Authentication Verifications API
  description: 'Know Your Business (KYB) API for verifying legal entities, retrieving business registration data, and downloading business reports. Supports searching businesses by name and registration number, verifying a business record, and pulling the underlying registry document.

    '
  version: '3.0'
  contact:
    name: Trulioo Support
    url: https://developer.trulioo.com
    email: support@trulioo.com
servers:
- url: https://api.trulioo.com
  description: Production
security:
- BasicAuth: []
- OAuth2: []
tags:
- name: Verifications
  description: Perform person verification and retrieve verification results.
paths:
  /v3/verifications/verify:
    post:
      summary: Verify A Person
      description: 'Submit a Verify request to perform a KYC verification on a person. Trulioo selects the appropriate local datasources for the country specified in the `CountryCode` field, matches the supplied identity fields, and returns a normalized VerifyResult.

        '
      operationId: verifyPerson
      tags:
      - Verifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
            example:
              AcceptTruliooTermsAndConditions: true
              CleansedAddress: true
              ConfigurationName: Identity Verification
              CountryCode: US
              DataFields:
                PersonInfo:
                  FirstGivenName: John
                  MiddleName: Q
                  FirstSurName: Public
                  DayOfBirth: 1
                  MonthOfBirth: 1
                  YearOfBirth: 1980
                Location:
                  BuildingNumber: '123'
                  StreetName: Main
                  StreetType: Street
                  City: Anytown
                  StateProvinceCode: NY
                  PostalCode: '10001'
      responses:
        '200':
          description: Verification result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    Error:
      type: object
      properties:
        Code:
          type: string
        Message:
          type: string
    Location:
      type: object
      properties:
        BuildingNumber:
          type: string
        BuildingName:
          type: string
        UnitNumber:
          type: string
        StreetName:
          type: string
        StreetType:
          type: string
        City:
          type: string
        StateProvinceCode:
          type: string
        PostalCode:
          type: string
        Country:
          type: string
    ServiceError:
      type: object
      properties:
        Code:
          type: string
        Message:
          type: string
    NationalId:
      type: object
      properties:
        Number:
          type: string
        Type:
          type: string
        CountryCode:
          type: string
    Document:
      type: object
      properties:
        DocumentFrontImage:
          type: string
          format: byte
        DocumentBackImage:
          type: string
          format: byte
        LivePhoto:
          type: string
          format: byte
        DocumentType:
          type: string
    DatasourceResult:
      type: object
      properties:
        DatasourceName:
          type: string
        DatasourceFields:
          type: array
          items:
            $ref: '#/components/schemas/DatasourceField'
        Errors:
          type: array
          items:
            $ref: '#/components/schemas/RecordError'
        AppendedFields:
          type: array
          items:
            $ref: '#/components/schemas/AppendedField'
    DataFields:
      type: object
      properties:
        PersonInfo:
          $ref: '#/components/schemas/PersonInfo'
        Location:
          $ref: '#/components/schemas/Location'
        Communication:
          $ref: '#/components/schemas/Communication'
        NationalIds:
          type: array
          items:
            $ref: '#/components/schemas/NationalId'
        Document:
          $ref: '#/components/schemas/Document'
    Record:
      type: object
      properties:
        TransactionRecordID:
          type: string
        RecordStatus:
          type: string
          enum:
          - match
          - nomatch
          - partial
          - error
        DatasourceResults:
          type: array
          items:
            $ref: '#/components/schemas/DatasourceResult'
        Errors:
          type: array
          items:
            $ref: '#/components/schemas/RecordError'
        Rule:
          $ref: '#/components/schemas/Rule'
    VerifyRequest:
      type: object
      required:
      - AcceptTruliooTermsAndConditions
      - ConfigurationName
      - CountryCode
      - DataFields
      properties:
        AcceptTruliooTermsAndConditions:
          type: boolean
          description: Must be true. Confirms agreement to Trulioo's terms.
        CleansedAddress:
          type: boolean
          description: Request cleansed/standardized address output.
        ConfigurationName:
          type: string
          description: Name of the configured product/package (e.g. "Identity Verification").
        CountryCode:
          type: string
          description: Two-letter ISO 3166 country code.
        CustomerReferenceID:
          type: string
          description: Optional client-side reference for the transaction.
        ConsentForDataSources:
          type: array
          items:
            type: string
          description: Datasources the end-user has consented to.
        DataFields:
          $ref: '#/components/schemas/DataFields'
        CallBackUrl:
          type: string
          format: uri
          description: Webhook URL for asynchronous result delivery.
    Rule:
      type: object
      properties:
        RuleName:
          type: string
        Note:
          type: string
    Communication:
      type: object
      properties:
        Telephone:
          type: string
        MobileNumber:
          type: string
        EmailAddress:
          type: string
    VerifyResult:
      type: object
      properties:
        TransactionID:
          type: string
        UploadedDt:
          type: string
          format: date-time
        CountryCode:
          type: string
        ProductName:
          type: string
        Record:
          $ref: '#/components/schemas/Record'
        Errors:
          type: array
          items:
            $ref: '#/components/schemas/ServiceError'
    RecordError:
      type: object
      properties:
        Code:
          type: string
        Message:
          type: string
    AppendedField:
      type: object
      properties:
        FieldName:
          type: string
        Data:
          type: string
    PersonInfo:
      type: object
      properties:
        FirstGivenName:
          type: string
        MiddleName:
          type: string
        FirstSurName:
          type: string
        SecondSurname:
          type: string
        DayOfBirth:
          type: integer
        MonthOfBirth:
          type: integer
        YearOfBirth:
          type: integer
        Gender:
          type: string
    DatasourceField:
      type: object
      properties:
        FieldName:
          type: string
        Status:
          type: string
        Data:
          type: string
  responses:
    Unauthorized:
      description: Authentication failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth-api.trulioo.com/connect/token
          scopes: {}
externalDocs:
  description: KYB - Business Verification
  url: https://developer.trulioo.com/reference/kyb-business-verification
