openapi: 3.1.0
info:
  title: Trulioo Business Verification Authentication Events API
  description: 'Know Your Business (KYB) API for verifying legal entities, retrieving business registration data, and downloading business reports. Supports searching businesses by name and registration number, verifying a business record, and pulling the underlying registry document.

    '
  version: '3.0'
  contact:
    name: Trulioo Support
    url: https://developer.trulioo.com
    email: support@trulioo.com
servers:
- url: https://api.trulioo.com
  description: Production
security:
- BasicAuth: []
- OAuth2: []
tags:
- name: Events
  description: Webhook event dispatch.
paths:
  /customer/v2/events:
    post:
      summary: Send Event
      description: 'Dispatch a webhook event from the platform. Used by the Event Dispatcher to deliver workflow lifecycle events.

        '
      operationId: sendEvent
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '202':
          description: Event accepted for delivery.
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth-api.trulioo.com/connect/token
          scopes: {}
externalDocs:
  description: KYB - Business Verification
  url: https://developer.trulioo.com/reference/kyb-business-verification
