openapi: 3.2.0
info:
  title: Trulioo Platform Events API
  description: 'Workflow Studio API (Trulioo Platform). Drive hosted and embedded workflows: initialize a flow, submit data and files for each step, handle handoffs between user-facing capture and backend processing, and retrieve end-client profiles, files, workflow definitions, and transaction state. Backs both the Low-Code Workflow Studio and the API-first Workflow Studio integrations.'
  version: '2.0'
  contact:
    name: Trulioo Support
    url: https://developer.trulioo.com
    email: support@trulioo.com
servers:
- url: https://api.trulioo.com
  description: Production
security:
- OAuth2: []
tags:
- name: Events
  description: Webhook event dispatch.
paths:
  /customer/v2/events:
    post:
      summary: Send Event
      description: Dispatch a webhook event from the platform. Used by the Event Dispatcher to deliver workflow lifecycle events.
      operationId: sendEvent
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '202':
          description: Event accepted for delivery.
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.trulioo.com/customer/v2/auth/customer
          scopes: {}
externalDocs:
  description: Workflow Studio (API)
  url: https://developer.trulioo.com/reference/workflow-studio-api
