openapi: 3.1.0
info:
  title: Trulioo Business Verification Authentication Document Verification API
  description: 'Know Your Business (KYB) API for verifying legal entities, retrieving business registration data, and downloading business reports. Supports searching businesses by name and registration number, verifying a business record, and pulling the underlying registry document.

    '
  version: '3.0'
  contact:
    name: Trulioo Support
    url: https://developer.trulioo.com
    email: support@trulioo.com
servers:
- url: https://api.trulioo.com
  description: Production
security:
- BasicAuth: []
- OAuth2: []
tags:
- name: Document Verification
  description: Submit and retrieve document verifications.
paths:
  /v3/verifications/documentverification/verify:
    post:
      summary: Document Verification Verify
      description: Submit captured ID document images and an optional selfie for verification.
      operationId: documentVerificationVerify
      tags:
      - Document Verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentVerifyRequest'
      responses:
        '200':
          description: Document verification result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentVerifyResult'
components:
  schemas:
    DocumentVerifyRequest:
      type: object
      required:
      - AcceptTruliooTermsAndConditions
      - ConfigurationName
      - CountryCode
      - DataFields
      properties:
        AcceptTruliooTermsAndConditions:
          type: boolean
        ConfigurationName:
          type: string
        CountryCode:
          type: string
        CustomerReferenceID:
          type: string
        CallBackUrl:
          type: string
          format: uri
        DataFields:
          type: object
          properties:
            Document:
              type: object
              properties:
                DocumentFrontImage:
                  type: string
                  format: byte
                DocumentBackImage:
                  type: string
                  format: byte
                LivePhoto:
                  type: string
                  format: byte
                DocumentType:
                  type: string
    DocumentVerifyResult:
      type: object
      properties:
        TransactionID:
          type: string
        TransactionRecordID:
          type: string
        DocumentClassification:
          type: string
        DocumentFields:
          type: object
          additionalProperties: true
        FaceMatchScore:
          type: number
        LivenessScore:
          type: number
        Errors:
          type: array
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth-api.trulioo.com/connect/token
          scopes: {}
externalDocs:
  description: KYB - Business Verification
  url: https://developer.trulioo.com/reference/kyb-business-verification
