openapi: 3.1.0
info:
  title: Trulioo Business Verification Authentication Person Fraud API
  description: 'Know Your Business (KYB) API for verifying legal entities, retrieving business registration data, and downloading business reports. Supports searching businesses by name and registration number, verifying a business record, and pulling the underlying registry document.

    '
  version: '3.0'
  contact:
    name: Trulioo Support
    url: https://developer.trulioo.com
    email: support@trulioo.com
servers:
- url: https://api.trulioo.com
  description: Production
security:
- BasicAuth: []
- OAuth2: []
tags:
- name: Person Fraud
  description: Risk-score a person.
paths:
  /risk/v1/check:
    post:
      summary: Person Fraud Check
      description: Perform a person-fraud risk check.
      operationId: personFraudCheck
      tags:
      - Person Fraud
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskVerifyRequest'
      responses:
        '200':
          description: Risk verdict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskVerifyResult'
components:
  schemas:
    RiskVerifyResult:
      type: object
      properties:
        TransactionID:
          type: string
        RiskScore:
          type: number
        RiskVerdict:
          type: string
          enum:
          - pass
          - review
          - fail
        Reasons:
          type: array
          items:
            type: string
        DatasourceResults:
          type: array
          items:
            type: object
            additionalProperties: true
    RiskVerifyRequest:
      type: object
      required:
      - AcceptTruliooTermsAndConditions
      - ConfigurationName
      - CountryCode
      - DataFields
      properties:
        AcceptTruliooTermsAndConditions:
          type: boolean
        ConfigurationName:
          type: string
        CountryCode:
          type: string
        CustomerReferenceID:
          type: string
        DataFields:
          type: object
          properties:
            PersonInfo:
              type: object
              additionalProperties: true
            Communication:
              type: object
              additionalProperties: true
            Location:
              type: object
              additionalProperties: true
            Device:
              type: object
              additionalProperties: true
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth-api.trulioo.com/connect/token
          scopes: {}
externalDocs:
  description: KYB - Business Verification
  url: https://developer.trulioo.com/reference/kyb-business-verification
