openapi: 3.1.0
info:
  title: Trulioo Business Verification Authentication Documents API
  description: 'Know Your Business (KYB) API for verifying legal entities, retrieving business registration data, and downloading business reports. Supports searching businesses by name and registration number, verifying a business record, and pulling the underlying registry document.

    '
  version: '3.0'
  contact:
    name: Trulioo Support
    url: https://developer.trulioo.com
    email: support@trulioo.com
servers:
- url: https://api.trulioo.com
  description: Production
security:
- BasicAuth: []
- OAuth2: []
tags:
- name: Documents
  description: Download evidence documents from completed transactions.
paths:
  /v3/verifications/documentdownload/{transactionRecordId}/{fieldName}:
    get:
      summary: Download Evidence Document
      description: 'Download an evidence document image (e.g. captured ID front, ID back, selfie) returned by a verification.

        '
      operationId: downloadDocument
      tags:
      - Documents
      parameters:
      - $ref: '#/components/parameters/TransactionRecordId'
      - name: fieldName
        in: path
        required: true
        description: Name of the document field to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Document binary stream.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
components:
  parameters:
    TransactionRecordId:
      name: transactionRecordId
      in: path
      required: true
      description: TransactionRecordID returned by a previous Verify call.
      schema:
        type: string
        format: uuid
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth-api.trulioo.com/connect/token
          scopes: {}
externalDocs:
  description: KYB - Business Verification
  url: https://developer.trulioo.com/reference/kyb-business-verification
