openapi: 3.1.0
info:
  title: Trulioo Business Verification Authentication Business Reports API
  description: 'Know Your Business (KYB) API for verifying legal entities, retrieving business registration data, and downloading business reports. Supports searching businesses by name and registration number, verifying a business record, and pulling the underlying registry document.

    '
  version: '3.0'
  contact:
    name: Trulioo Support
    url: https://developer.trulioo.com
    email: support@trulioo.com
servers:
- url: https://api.trulioo.com
  description: Production
security:
- BasicAuth: []
- OAuth2: []
tags:
- name: Business Reports
  description: Download business reports.
paths:
  /v3/business/report/{transactionRecordId}:
    get:
      summary: Get Business Report
      description: Download the business registration document/report associated with a transaction.
      operationId: getBusinessReport
      tags:
      - Business Reports
      parameters:
      - $ref: '#/components/parameters/TransactionRecordId'
      - name: additionalData
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Report payload.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadDocument'
components:
  parameters:
    TransactionRecordId:
      name: transactionRecordId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    DownloadDocument:
      type: object
      properties:
        Document:
          type: string
          format: byte
        ContentType:
          type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth-api.trulioo.com/connect/token
          scopes: {}
externalDocs:
  description: KYB - Business Verification
  url: https://developer.trulioo.com/reference/kyb-business-verification
