openapi: 3.1.0
info:
  title: Trulioo Business Verification Authentication Business Search API
  description: 'Know Your Business (KYB) API for verifying legal entities, retrieving business registration data, and downloading business reports. Supports searching businesses by name and registration number, verifying a business record, and pulling the underlying registry document.

    '
  version: '3.0'
  contact:
    name: Trulioo Support
    url: https://developer.trulioo.com
    email: support@trulioo.com
servers:
- url: https://api.trulioo.com
  description: Production
security:
- BasicAuth: []
- OAuth2: []
tags:
- name: Business Search
  description: Search the Trulioo business registry universe.
paths:
  /v3/business/search:
    post:
      summary: Business Search
      description: 'Search for a business by name, registration number, and jurisdiction-of-incorporation. Returns candidate matches with confidence scores.

        '
      operationId: businessSearch
      tags:
      - Business Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessSearchRequest'
      responses:
        '200':
          description: Business search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessSearchResponse'
  /v3/business/search/transactionrecord/{transactionRecordId}:
    get:
      summary: Get Business Search Result
      description: Retrieve a previously executed Business Search by transaction ID.
      operationId: getBusinessSearchResult
      tags:
      - Business Search
      parameters:
      - $ref: '#/components/parameters/TransactionRecordId'
      responses:
        '200':
          description: Business search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessSearchResponse'
components:
  parameters:
    TransactionRecordId:
      name: transactionRecordId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    BusinessRecord:
      type: object
      properties:
        BusinessName:
          type: string
        BusinessRegistrationNumber:
          type: string
        JurisdictionOfIncorporation:
          type: string
        Status:
          type: string
        ConfidenceScore:
          type: number
    BusinessInputFields:
      type: object
      properties:
        BusinessName:
          type: string
        BusinessRegistrationNumber:
          type: string
        JurisdictionOfIncorporation:
          type: string
    BusinessSearchRequest:
      type: object
      required:
      - AcceptTruliooTermsAndConditions
      - ConfigurationName
      - CountryCode
      - BusinessSearchInputFields
      properties:
        AcceptTruliooTermsAndConditions:
          type: boolean
        ConfigurationName:
          type: string
        CountryCode:
          type: string
        JurisdictionOfIncorporation:
          type: string
        BusinessSearchInputFields:
          $ref: '#/components/schemas/BusinessInputFields'
    BusinessSearchResponse:
      type: object
      properties:
        TransactionID:
          type: string
        Results:
          type: array
          items:
            $ref: '#/components/schemas/BusinessRecord'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth-api.trulioo.com/connect/token
          scopes: {}
externalDocs:
  description: KYB - Business Verification
  url: https://developer.trulioo.com/reference/kyb-business-verification
