openapi: 3.2.0
info:
  title: Trulioo Authentication Business Verification API
  description: Know Your Business (KYB) API for verifying legal entities, retrieving business registration data, and downloading business reports. Supports searching businesses by name and registration number, verifying a business record, and pulling the underlying registry document.
  version: '3.0'
  contact:
    name: Trulioo Support
    url: https://developer.trulioo.com
    email: support@trulioo.com
servers:
- url: https://api.trulioo.com
  description: Production
security:
- BasicAuth: []
- OAuth2: []
tags:
- name: Business Verification
  description: Verify a business and retrieve its registration record.
paths:
  /v3/business/verify:
    post:
      summary: Business Verify
      description: Verify a specific business by registration number and jurisdiction. Returns the canonical record plus officers, addresses, and other registry-supplied fields.
      operationId: businessVerify
      tags:
      - Business Verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessVerifyRequest'
      responses:
        '200':
          description: Business verify result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessVerifyResult'
components:
  schemas:
    BusinessVerifyResult:
      type: object
      properties:
        TransactionID:
          type: string
        Record:
          $ref: '#/components/schemas/BusinessRecord'
        Officers:
          type: array
          items:
            type: object
            additionalProperties: true
    BusinessVerifyRequest:
      type: object
      required:
      - AcceptTruliooTermsAndConditions
      - ConfigurationName
      - CountryCode
      - BusinessSearchInputFields
      properties:
        AcceptTruliooTermsAndConditions:
          type: boolean
        ConfigurationName:
          type: string
        CountryCode:
          type: string
        JurisdictionOfIncorporation:
          type: string
        BusinessSearchInputFields:
          $ref: '#/components/schemas/BusinessInputFields'
    BusinessInputFields:
      type: object
      properties:
        BusinessName:
          type: string
        BusinessRegistrationNumber:
          type: string
        JurisdictionOfIncorporation:
          type: string
    BusinessRecord:
      type: object
      properties:
        BusinessName:
          type: string
        BusinessRegistrationNumber:
          type: string
        JurisdictionOfIncorporation:
          type: string
        Status:
          type: string
        ConfidenceScore:
          type: number
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth-api.trulioo.com/connect/token
          scopes: {}
externalDocs:
  description: KYB - Business Verification
  url: https://developer.trulioo.com/reference/kyb-business-verification
